@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

$font-logo: Caveat, sans-serif;
$font-main: "Open Sans", Arial, sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  font-family: $font-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* layout */
.grid-container {
  height: 100%;
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr 5rem;
}

//HEADER

.header {
  grid-area: header;
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: rgba(13, 90, 0, 0.8);

  &__nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__nav-link-logo {
    margin: 0 20px;
    line-height: 70px;
    font-family: $font-logo;
    font-size: 4rem;
    text-decoration: none;
    color: white;
  }

  &__nav-list {
    display: flex;
    list-style: none;
  }

  &__nav-element {
    margin: 0 20px;
    line-height: 70px;
  }

  &__nav-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
}

//MAIN
.main {
  grid-area: main;
  padding: 1rem;

  //images
  &__product-img {
    border-radius: 0.5rem 0.5rem 0 0;

    &.medium {
      width: 100%;
      max-width: 29rem;
    }
  }

  //Product card
  &__card {
    margin: 1rem;
    border-radius: 0.5rem;
    background-color: #e2e2e2;
  }

  &__card-body {
    padding: 1rem;
  }


  &__product-link {
    text-decoration: none;
  }

  &__product-title {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    color: black;
    transition: .2s ease-in-out;

    &:hover {
      color: forestgreen;
    }
  }

  &__product-price {
    margin-top: 10px;
    text-align: center;
    font-size: 1.6rem;
  }

  //rating

  &__product-rating {
    text-align: center;

    &--star {
      color: goldenrod;
    }
  }

  &__product-reviews {
    color: #1d1d1d;
    margin-left: 10px;
  }

}

.product {

  margin: 50px auto;

  &__description {
  margin: 2rem 0;
  }

  &__info-list {
    list-style: none;
  }

  &__element {
    margin: 1rem;
  }

  &__name {
    text-align: center;
  }

  &__price {
    font-size: 2.4rem;
    margin-top: 1rem;
  }

  &__info {

  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 20%;
  }


  &__action {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #e7e7e7;
    border-radius: 0.5rem;
    height: auto;
  }

  &__card-list {
    padding: 0;
    list-style: none;
  }

  &__card-element {
    margin-top: 1rem;
    text-align: center;
  }

  &__card-button {
    margin: 2rem auto;
    text-align: center;
  }

  &__button {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px #cdcdcd solid;
    font-size: 1.4rem;
    font-family: $font-main;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #c5f5bc;
    cursor: pointer;
    transition: .2s ease-in-out;

    &:hover {
      background-color: #393939;
      color: white;
      border: 1px #393939 solid;
    }
  }
}


.footer {
  grid-area: footer;
  background-color: #161616;

  &__text {
    color: white;
    line-height: 50px;
    text-align: center;
  }
}


.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}

//.row-1 {
//  flex: 1 1 30rem;
//}
//
//.row-2 {
//  flex: 2 1 30rem;
//}

//alert

.success {
  color: #20a20a;
}

.danger {
  color: #e50017;
}

.alert {
  padding: 1rem;
  border: .1rem solid transparent;
  border-radius: 0.5rem;

  &--info {
    color: #2020a0;
    background-color: #e0e0ff;
  }

  &--danger {
    color: #a02020;
    background-color: #ffe0e0e0;
  }
}




.link {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px #9b9b9b solid;
  font-size: 1.2rem;
  font-family: $font-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  background-color: #e5e5e5;
  cursor: pointer;
  transition: .2s ease-in-out;

  &:hover {
    background-color: #393939;
    color: white;
    border: 1px #393939 solid;
  }
}

.image.large {
  width: 80%;
}